@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter;
    @apply not-italic;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-medium;
  }

  h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 28px;
    line-height: 32px;
  }

  h3 {
    font-size: 22px;
    line-height: 32px;
  }

  h4 {
    font-size: 16px;
    line-height: 24px;
  }

  h5 {
    font-size: 14px;
    line-height: 20px;
  }
}

@layer utilities {
  .hero-wrapper {
    background: linear-gradient(
      314.72deg,
      #c86dd7 -1.5%,
      #7e49c3 39.43%,
      #5912ac 86.02%
    );
  }

  .hero-bg {
    mix-blend-mode: overlay;
  }

  .hero-btn {
    border-radius: 4px;
    height: 44px;
    width: 234px;
  }

  .body-large,
  .body-medium,
  .body-small,
  .body-x-small {
    @apply font-normal;
  }

  .body-large {
    font-size: 18px;
    line-height: 24px;
  }

  .body-medium {
    font-size: 16px;
    line-height: 28px;
  }

  .body-small {
    font-size: 14px;
    line-height: 20px;
  }

  .body-x-small {
    font-size: 12px;
    line-height: 16px;
  }

  .dp1 {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
